<footer class="footer" id="contact">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__column footer__about">
				<a href="index.html" class="footer__logo logo">
					<img src="img/logo.svg" alt="">
					Waxom
				</a>

				<div class="footer__description footer__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.</div>

				<a href="#" class="footer__link link">Read More</a>
			</div>

			<div class="footer__column footer__posts">
				<h4 class="footer__title">Recent Posts</h4>

				<a href="#" class="footer__post">
					<div class="footer__post-date">September 08, 2021</div>
					<div class="footer__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				</a>

				<a href="#" class="footer__post">
					<div class="footer__post-date">September 08, 2021</div>
					<div class="footer__text">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna</div>
				</a>

				<a href="#" class="footer__post">
					<div class="footer__post-date">September 08, 2021</div>
					<div class="footer__text">Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima</div>
				</a>
			</div>

			<div class="footer__column footer__twitter">
				<h4 class="footer__title">Our Twitter</h4>

				<a href="#" class="footer__post">
					<div class="footer__text"><span class="footer__text--tag">@waxom</span> Cum soluta nobis eleifend option congue nihil imperdiet doming</div>
					<div class="footer__post-time">3 mins ago</div>
				</a>

				<a href="#" class="footer__post">
					<div class="footer__text">Mirum est <span class="footer__text--tag">#envato</span> notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum</div>
					<div class="footer__post-time">5 hours ago</div>
				</a>

				<a href="#" class="footer__post">
					<div class="footer__text">Soluta nobis option 
						<span class="footer__text--link">bit.ly/1Hniso7</span>
					</div>
					<div class="footer__post-time">20 days ago</div>
				</a>
			</div>

			<div class="footer__column footer__widget">
				<h4 class="footer__title">Dribbble Widget</h4>

				<div class="widget">
					<a href="#" class="widget__item">
						<img class="img-responsive" src="img/widget-1.png" alt="">
					</a>

					<a href="#" class="widget__item">
						<img class="img-responsive" src="img/widget-2.png" alt="">
					</a>

					<a href="#" class="widget__item">
						<img class="img-responsive" src="img/widget-3.png" alt="">
					</a>

					<a href="#" class="widget__item">
						<img class="img-responsive" src="img/widget-4.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<div class="copyright__wrapper">
				<div class="copyright__column">
					<div class="copyright__text">
						Copyright © 2021 <span class="copyright__text--tag">Waxom</span>
					</div>
	
					<div class="copyright__links">
						<a href="#" class="copyright__links-item">Privacy Policy</a>
						<a href="#" class="copyright__links-item">FAQ</a>
						<a href="#" class="copyright__links-item">Support</a>
					</div>
				</div>
	
				<div class="copyright__column">
					<div class="copyright__text">
						Designed by <span class="copyright__text--tag">ThemeFire</span> <span class="straight-line">|</span> Only on <span class="copyright__text--tag">Envato Market</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/main.min.js"></script>